@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-padding-top: 50px;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-200vh);
  }
}

.star-layer {
  position: fixed;
  width: 1px;
  height: 1px;
  background: transparent;
  animation: animStar 200s linear infinite;
}

.star-layer::after {
  content: " ";
  position: absolute;
  top: 200vh;
  width: inherit;
  height: inherit;
  background: transparent;
}

#stars {
  animation-duration: 80s;
}

#stars2 {
  animation-duration: 120s;
  width: 2px;
  height: 2px;
}

#stars3 {
  animation-duration: 180s;
  width: 3px;
  height: 3px;
}

body {
  background: black;
  overflow-x: hidden;
}

/* .turret-road {
  font-family: "Turret Road", serif;
  font-weight: 600;
  font-style: normal;
} */

.nova-square-only {
  font-family: "Nova Square", serif;
  font-weight: 400;
  font-style: normal;
}

.nova-square-regular {
  font-family: "Nova Square", serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(
    0deg,
    rgb(76, 74, 108) 0%,
    rgb(110, 110, 203) 37%,
    rgb(133, 170, 178) 76%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* font-weight: bold; */
}
.nova-square-footer {
  font-size: 1.1rem;
  font-family: "Nova Square", serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(
    0deg,
    rgb(199, 198, 213) 0%,
    rgb(144, 144, 240) 37%,
    rgb(109, 213, 236) 76%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* font-weight: bold; */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
